nav {
  padding: 0;
  border-bottom: 2px blue solid;
}
:root {
  --has-animation-logo: scaleX(0.750977) scaleY(0.750977);
  --has-animation-content: scaleX(1.1) scaleY(1.1);
  --transition-animation: all 100ms ease-in-out;
}
.fixed-top {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
/*.header {
  margin-top: 9%;
}*/

.logo {
  max-width: 120px;
  height: auto;
  padding-top: 4px;
  transition: all 300ms ease-in-out;
}
.logo:hover {
  transform: var(--has-animation-logo);
}
.has-animation {
  transform: scaleX(0.750977) scaleY(0.750977);
}
.container-fluid-content {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 0;
  max-width: 70%;
  padding-right: 12px;
  padding-left: 12px;
}
.row {
  flex-direction: row;
  width: 100%;
}
p {
  color: blue;
  text-decoration: none;
  font-size: 50px;
  font-weight: 300;
}

.nav-links {
  text-decoration: none;
}
.info {
  margin-right: 30px;
}
.about,
.info {
  align-items: right;
  display: inline;
  font-size: 40px;
  z-index: -1;
  width: auto;
  height: auto;
  font-weight: 200;
  transition: all 300ms ease-in-out;
}
.clickable-links {
  padding-top: 30px;
}
.about:hover,
.info:hover {
  font-family: "Cormorant Garamond", serif;
}
.border-blue {
  border-bottom: 2px blue solid;
}
.intro-name,
.intro {
  color: blue;
}
.intro-name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 50px;
  transition: all 200ms ease-in-out;
  animation: skew 3s infinite;
  transform: skew(40deg);
  animation-direction: alternate;
}
@keyframes skew {
  0% {
    transform: skewX(40deg);
  }
  100% {
    transform: skewX(-40deg);
  }
}
.intro {
  font-weight: 300;
  font-size: 22px;
}

.project-container {
  flex-direction: row;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 7%;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
  border: none;
  height: fit-content;
  transition: var(--transition-animation);
}
h3 {
  color: blue;
  padding-top: 20px;
  font-size: 1.65rem;
}
.project-container:hover {
  border: solid 2px blue;
  border-left: 6px solid blue;
  border-right: 6px solid blue;
}

.dictionary-img {
  padding: 0px;
  vertical-align: auto;
  z-index: -3;
}

.tools {
  font-size: 13px;
  display: inline;

  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.about-container {
  padding-top: 48;
  padding-bottom: 48;
  border-bottom: none;
}
.visit-link {
  padding-top: 10px;
  border: solid 1px blue;
  padding: 10px;
  color: blue;
  border-radius: 50%;
  box-shadow: 5px 3px 3px 1px blue;
  transition: all 100ms ease-in-out;
}
.visit-link:hover {
  color: white;
  background-color: blue;
  transform: scaleX(1.1) scaleY(1.1);
}
.contact-link,
.visit-link {
  text-decoration: none;
}
.contact {
  font-size: 20px;
  display: block;
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  border: thin solid blue;
  border-radius: 50%;
  justify-content: center;
  transition: all 100ms ease-in-out;
}
.contact:hover {
  background-color: blue;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
  transform: scaleX(1.1) scaleY(1.1);
}
a .in-touch {
  text-decoration: none;
  color: blue;
}

.specialties {
  margin-bottom: 40px;
  color: white;
  background: blue;
  font-size: 22px;
  display: inline;
  height: fit-content;
  font-weight: 500;
  transition: all 200ms ease-in-out;
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}

.separator {
  border-bottom: 1px solid blue;
  margin: 0px;
}
.role {
  margin-bottom: 0px;
}
.project-parragraph {
  font-size: 13px;
  width: 95%;
  justify-content: center;
  padding-top: 20px;
  margin-right: 0px;
  padding-bottom: 10px;
  text-align: center;
}
.profile-description {
  font-size: 20px;
  text-align: left;
  padding-top: 10%;
}
.content {
  width: 100%;
  justify-content: center;
  margin: 0px;
}
.about-container {
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.profession {
  transition: all 100ms ease-in-out;
}
.profession:hover {
  transform: var(--has-animation-content);
}
.title-profession {
  font-size: 43px;
  font-weight: 500;
  width: 100%;
  margin: 0;
  left: 10;
  height: auto;
}
.role,
.date {
  font-size: 22px;
}
.date {
  text-align: right;
}
.dates {
  top: 0px;
}
.city {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
h6 {
  color: blue;
  margin-bottom: 0;
}
footer {
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.footer-text {
  color: white;
  background-color: blue;
  width: 100%;
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.footer-text a {
  text-decoration: none;
  color: white;
}
.footer-text a:hover {
  color: rgb(43, 255, 0);
}

.cursors {
  height: 0px;
}
div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  height: 26px;
  width: 26px;
  background-color: rgb(0, 255, 0);
  border-radius: 50%;
  z-index: 10000;
  pointer-events: none;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .container-fluid-content {
    max-width: 90%;
    padding-left: 12px;
  }
  .container-fluid {
    height: auto;
    width: 100%;
  }

  .logo {
    max-width: 60px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 6px;
  }
  .clickable-links {
    padding-top: 16px;
  }
  p {
    color: blue;
    text-decoration: none;
    font-size: 50px;
    font-weight: 300;
  }
  .info,
  .about {
    font-size: 30px;
  }
  .info {
    margin-right: 10px;
  }
  .intro-name {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
  }

  .project-container {
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid blue;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .mobile-adjustments {
    margin-top: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: 0px;
  }
  .project-parragraph {
    margin-bottom: 20px;
  }

  .portfolio {
    vertical-align: top;
    margin: auto;
    height: fit-content;
  }
  .profile-description {
    font-size: 18px;
    margin-bottom: 0px;
  }
  .profile-image {
    display: none;
    max-width: 80%;
    height: auto;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  .contact {
    margin-bottom: 10px;
  }

  .about-container {
    margin-right: 0px;
    padding: 0px;
  }
  .profile-description {
    padding-top: 20px;
    text-align: center;
    font-size: 16px;
  }
  .expertise {
    height: 60px;
    font-size: 30px;
    font-weight: 500;
  }

  .title-profession {
    font-size: 30px;
    width: 400px;
  }
  .specialties {
    text-align: center;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    height: 50px;
    background-color: blue;
  }
  .specialties-line {
    display: none;
  }
  .especialidad {
    width: fit-content;
    background-color: blue;
    color: white;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    font-weight: 500px;
  }
  .especialidad-fe {
    border-radius: 0px 50px 0px 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
  }
  .especialidad-id {
    border-radius: 30px 0px 30px 0px;
    text-align: end;
    margin-left: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .especialidad-qx {
    border-radius: 0px 50px 0px 50px;
    margin-left: 56px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .especialidad-dt {
    border-radius: 0px 0px 50px 50px;
    margin-left: 107px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 20px;
  }
  .especialidad-pd {
    border-radius: 170px 170px 0px 0px;
    margin-left: 87px;
    padding-top: 25px;
    padding-left: 14px;
    padding-right: 20px;
  }
  .especialidad-pm {
    border-radius: 0px 0px 0px 50px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 87px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .especialidad-s {
    border-radius: 0px 50px 50px 50px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 10px;
    margin-left: 197px;
    padding-bottom: 15px;
  }

  .mobile-cv {
    margin-left: 20px;
  }
  .date {
    transform: rotate(-90deg);
    font-size: 16px;
    position: absolute;
    right: 0;
    justify-content: flex-end;
  }

  .separator {
    flex-direction: row;
  }
  .dtt {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 93px;
  }

  .creative-researcher {
    padding-top: 51px;
    padding-right: 14px;
  }
  .qr {
    padding-top: 53px;
    width: 100px;
    padding-right: 14px;
    text-align: center;
  }
  .mwa {
    padding-right: 47px;
    padding-top: 11px;
  }
  .rt {
    margin-bottom: 0px;
    padding-top: 30px;
    padding-right: 15px;
  }
  .fe {
    margin-bottom: 0px;
    padding-top: 72px;
    padding-right: 5px;
  }
  .id {
    padding-top: 45px;
    padding-right: 30px;
  }
  .aa {
    margin-bottom: 0px;
    padding-top: 44px;
    padding-right: 27px;
  }
  footer {
    display: none;
  }
}

@media (width: 375px) {
  .info,
  .about {
    font-size: 30px;
  }
  .project-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (width: 768px) {
  .vanilla {
    margin-top: 20px;
  }
}
@media (width: 1024px) {
  .visit-link {
    font-size: 13px;
  }
  .specialties {
    font-size: 18px;
  }
  .project-container {
    height: fit-content;
  }
  .profile-image {
    max-width: 350px;
    height: auto;
  }
}
