nav {
  padding: 0;
  border-bottom: 2px blue solid;
  position: sticky;
}

.logo {
  max-width: 120px;
  height: auto;
  padding-top: 4px;
}

.container-fluid-content {
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 0;
  max-width: 70%;
  padding-right: 12px;
  padding-left: 12px;
}
.row {
  flex-direction: row;
  width: 100%;
}
p {
  color: blue;
  text-decoration: none;
  font-size: 70px;
  font-weight: 300;
}

.nav-links {
  text-decoration: none;
}
.info {
  margin-right: 30px;
}
.about,
.info {
  align-items: right;
  display: inline;
  z-index: -1;
  height: 80px;

  font-weight: 200;
}
.about:hover,
.info:hover {
  font-family: "Cormorant Garamond", serif;
  line-height: 80px;
}
.border-blue {
  border-bottom: 2px blue solid;
}
.intro-name,
.intro {
  color: blue;
}
.intro-name {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 50px;
  transition: all 200ms ease-in-out;
  animation: skew 3s infinite;
  transform: skew(20deg);
  animation-direction: alternate;
}
@keyframes skew {
  0% {
    transform: skewX(20deg);
  }
  100% {
    transform: skewX(-20deg);
  }
}
.intro {
  font-weight: 300;
  font-size: 22px;
}
.project-container {
  flex-direction: row;
  display: inline-block;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-right: 20px;
  vertical-align: middle;
  border: none;
  transition: all 200ms ease-in-out;
}
h3 {
  color: blue;
  padding-top: 20px;
}
.project-container:hover {
  border: blue solid 1px;
  box-shadow: 2px 2px rgb(43, 255, 0);
}
.dictionary-img {
  padding: 0px;
}
.tools {
  font-size: 13px;
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: thin solid blue;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}
.about-container {
  padding-top: 48;
  padding-bottom: 48;
}
.contact {
  font-size: 13px;
  display: block;
  margin-top: 16px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: thin solid blue;
  border-radius: 50%;
  justify-content: center;
  transition: all 100ms ease-in-out;
}
.contact:hover {
  background-color: blue;
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}
a .in-touch {
  text-decoration: none;
  color: blue;
}
.specialties {
  color: white;
  text-align: justify;
  font-size: 22px;
  text-align: center;
  display: inline;
  height: 40px;
}
.specialties-line {
  background-color: blue;
  justify-content: space-between;
  height: 35px;
  padding-right: 10px;
  padding-left: 10px;
}
.specialties-line:hover {
  background-color: rgb(43, 255, 0);
}
.separator {
  border-bottom: 1px solid blue;
  margin: 0px;
}
.role {
  margin-bottom: 0px;
}
.project-parragraph {
  font-size: 13px;
  width: 95%;
  justify-content: center;
  padding-top: 20px;
  margin-right: 0px;
  text-align: center;
}
.profile-description {
  font-size: 13px;
  text-align: left;
  padding-top: 20%;
}
.content {
  width: 100%;
  justify-content: center;
  margin: 0px;
}
.about-container {
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
}
.title-profession {
  font-size: 43px;
  font-weight: 500;
  width: 100%;
  margin: 0;
  left: 10;
  height: auto;
}
.role,
.date {
  font-size: 22px;
}
.date {
  text-align: right;
}
.dates {
  top: 0px;
}
.city {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}
h6 {
  color: blue;
  margin-bottom: 0;
}
footer {
  align-items: center;
}
.footer-text {
  color: white;
  background-color: blue;
  width: 100%;
  font-size: 13px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 3px;
  padding-top: 3px;
}
.footer-text a {
  text-decoration: none;
  color: white;
}
.footer-text a:hover {
  color: rgb(43, 255, 0);
}

@media (max-width: 500px) {
  .container-fluid-content {
    max-width: 90%;
    padding-left: 12px;
  }
  .container-fluid {
    height: auto;
    width: 100%;
  }
  .logo {
    max-width: 60px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 6px;
  }
  .clickable-links {
    padding-top: 16px;
  }
  p {
    color: blue;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
  }
  .info {
    margin-right: 10px;
  }
  .intro-name {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
  }
  .mobile-header {
    justify-content: center;
    margin: 0px;
    width: 100%;
  }
  .project-container {
    margin-right: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid blue;
  }
  .mobile-adjustments {
    margin-top: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .project-parragraph {
    margin-bottom: 0px;
  }

  .portfolio {
    margin-bottom: 0px;
  }
  .profile-image {
    display: none;
  }
  .contact {
    margin-bottom: 10px;
  }
  .about-container {
    margin-right: 0px;
  }
  .profile-description {
    padding-top: 20px;
    text-align: center;
  }
  .title-profession {
    font-size: 30px;
    width: 400px;
  }
  .specialties {
    text-align: center;
    font-size: 22px;
    text-align: center;
    border-radius: 50%;
    height: 50px;
    background-color: blue;
  }
  .specialties-line {
    display: none;
  }
  .especialidad {
    width: fit-content;
    background-color: blue;
    color: white;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    font-weight: 500px;
  }
  .especialidad-fe {
    border-radius: 0px 50px 0px 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .especialidad-id {
    border-radius: 30px 0px 30px 0px;
    text-align: end;
    margin-left: 56px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .especialidad-qx {
    border-radius: 0px 50px 0px 50px;
    margin-left: 56px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
  }
  .especialidad-dt {
    border-radius: 0px 0px 50px 50px;
    margin-left: 107px;
    padding-bottom: 20px;
    padding-left: 14px;
    padding-right: 20px;
  }
  .especialidad-pd {
    border-radius: 170px 170px 0px 0px;
    margin-left: 87px;
    padding-top: 25px;
    padding-left: 14px;
    padding-right: 20px;
  }
  .especialidad-pm {
    border-radius: 0px 0px 0px 50px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 87px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .especialidad-s {
    border-radius: 0px 50px 50px 50px;
    padding-left: 21px;
    padding-right: 21px;
    margin-left: 197px;
    padding-bottom: 15px;
  }

  .mobile-cv {
    margin-left: 20px;
  }
  .date {
    transform: rotate(-90deg);
    font-size: 16px;
    position: absolute;
    right: 0;
    justify-content: flex-end;
  }

  .separator {
    flex-direction: row;
  }
  .dtt {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 93px;
  }

  .creative-researcher {
    padding-top: 51px;
    padding-right: 14px;
  }
  .qr {
    padding-top: 53px;
    width: 100px;
    padding-right: 14px;
    text-align: center;
  }
  .mwa {
    padding-right: 47px;
    padding-top: 11px;
  }
  .rt {
    margin-bottom: 0px;
    padding-top: 30px;
    padding-right: 15px;
  }
  .fe {
    margin-bottom: 0px;
    padding-top: 72px;
    padding-right: 5px;
  }
  .id {
    padding-top: 45px;
    padding-right: 30px;
  }
  .aa {
    margin-bottom: 0px;
    padding-top: 44px;
    padding-right: 27px;
  }
  footer {
    display: none;
  }
}
